---

---

<nav>
  <a id="_lorem1">lorem1</a>
  <!-- Kindof like a link... Must be _<id of section... See pages/index.astro> -->
  <a id="_lorem2">lorem2</a>
  <a id="_lorem3">lorem3</a>
  <a id="_lorem4">lorem4</a>
  <div class="line"></div>
</nav>

<script>
  function get_current_section_link(): Element {
    let new_link;
    for (let section of document.querySelectorAll("section")) {
      let rect = section.getBoundingClientRect();
      if (rect.top < 200) {
        new_link = nav.querySelector(`a#_${section.id}`)!;
        // No breaking because we want the last element
      }
    }
    if (typeof new_link === "undefined") {
      return nav.querySelector("a")!; // Get first link
    }
    return new_link!;
  }
  function handleScroll() {
    let link = get_current_section_link();
    if (link != previous) {
      let dx =
        link.getBoundingClientRect().left -
        previous.getBoundingClientRect().left;
      if (dx > 0) {
        line.setAttribute(
          "style",
          `left: ${previous.getBoundingClientRect().left}px; width: ${dx + link.getBoundingClientRect().width}px;`
        );
      } else {
        line.setAttribute(
          "style",
          `left: ${link.getBoundingClientRect().left}px; width: ${Math.abs(dx) + link.getBoundingClientRect().width}px;`
        );
      }
      animating = true;
      setTimeout(() => {
        line.setAttribute(
          "style",
          `left: ${link.getBoundingClientRect().left}px; width: ${link.getBoundingClientRect().width}px;`
        );
        animating = false;
      }, 500);
      previous = link;
    }
    if (!animating) {
      line.setAttribute(
        "style",
        `left: ${link.getBoundingClientRect().left}px; width: ${link.getBoundingClientRect().width}px;`
      );
    }
  }
  let nav = document.querySelector("nav")!;
  let line = nav.querySelector(".line")!;
  let animating = false;
  document.addEventListener("scroll", handleScroll);
  window.addEventListener("resize", handleScroll);

  for (let section of document.querySelectorAll("section")) {
    let lnk = nav.querySelector(`a#_${section.id}`)!;
    lnk.setAttribute("href", `#${section.id}`);
  }

  // Call once to setup vars and underline current header (because the scroll is preserved on reload)
  let previous = get_current_section_link();
  handleScroll();
</script>

<style lang="scss">
  nav {
    @apply flex flex-row items-center justify-around;
    height: var(--nav-size);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .line {
      position: absolute;
      height: 2px;
      bottom: 10px;
      left: 0;
      background: #ff1847;
      transition: 0.5s;
    }
    a {
      padding: 20px;
      transition: all 0.4s ease;
      position: relative;
    }
  }
</style>
